```{=html}
d-title h1 {
    font-size: 40px;
}
d-byline h3 {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    text-transform: uppercase;
}
element.style {
    font-size: 16px;
}
.grid {
    grid-column-gap: 32px;
    font-size: 16px;
}
d-article h1 {
  font-size: 28px;
}
d-article h2 {
    font-size: 24px;
}
d-article>p>img {
    width: 100%;
}
figure img {
    width: 100%;
}
</style>
```