.Rproj.user
.Rhistory
.RData
.Ruserdata
git_notes.docx
git_lesson
intro-linux-bluebear
zine
figuras
organizacion.txt
notes
Ficha_Github.docx
progit.pdf
discu_vero.docx
monchi_perfil.jpg
monchi_perfil.pptx
pruebaignore.pptx
pruebaignore2.pptx
.DS_Store
AEET_2025/Atendees Workshop 8_26-05-2025.xlsx
